#discover-container {
  margin-bottom: 10%;
}

#discover-container .display-item {
  width: 200%;
  margin-left: 50px;
}

#discover-container button {
  border-radius: 2px;
  min-width: 88px;
  background-color: #fa6900;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 10px 6px;
  text-align: center;
}

#discover-container .card {
  border: 3px solid #103d5d;
  width: 400px;
  height: 400px;
  margin: 7px 300px;
  border-radius: 50px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

#discover-container .card button {
  padding: auto;
  margin: 10px 53px;
  border-radius: 10px;
}
#discover-container .card img {
  margin: 3% auto;
  margin-left: 30%;
  max-width: 150px;
  height: 150px;
}
#discover-container h1 {
  color: #0f3d5d;
  margin: auto 400px;
}
#discover-container h2 {
  color: #0f3d5d;
  margin: auto 320px 20px;
}
#discover-container .card h3 {
  margin: 7px 60px 10px;
  color: #0f3d5d;
}

