#saved-container .display-item {
  text-align: center;
  width: 100%;
  margin-left: auto;
}

#saved-container button {
  border-radius: 2px;
  min-width: 44px;
  background-color: #fa6900;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 10px 6px;
}

#saved-container .card {
  border: 3px solid #103d5d;
  width: 275px;
  height: 315px;
  margin: 5px 20px;
  padding: 5px 20px 5px 5px;
  border-radius: 50px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  display: flex;
}

#saved-container .card button {
  padding: auto;
  margin: 5px 80px;
  border-radius: 10px;
}

#saved-container .card img {
  margin: auto 90px;
}

#saved-container h2 {
  margin-left: 60px;
}

#saved-container p {
  margin-left: 120px;
  font-family: "Courier New", Courier, monospace;
}

#saved-container .text-center {
  margin: auto 250px 10px;
  text-align: center;
  color: #0f3d5d;
}
