#saved-container .display-item {
    text-align: center;
    width: 100%;
    margin-left: 50px;
  }
  
#saved-container button {
    border-radius: 2px;
    min-width: 44px;
    background-color: #fa6900;
    cursor: pointer;
    border: 0;
    min-width: 120px;
    color: #fff;
    font-size: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 10px 6px;
  }
  
#saved-container .card {
    border: 3px solid black;
    width: 200px;
    text-align: center;
    height: auto;
    margin: auto;
    box-shadow: 5px 10px 18px yellow;
    margin: 10px;
    float: left;
  }
  
#saved-container .card button {
    padding: 15px;
    margin-left: 12px;
    margin: auto 30px;
  }

#saved-container .card img {
    margin: 10px;
  }
  