
#saved-container button {
  min-width: 44px;
  background-color: #000;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 10px 6px;
  transition: all 0.2s ease-in-out;
  transition-delay: 0;
}

#saved-container button:hover {
  transform: translateY(-0.25em);
  color:#e2c044;
}

#saved-container .card {
  width: 250px;
  height: 350px;
  margin: 10px;
  padding: 1em;
  border-radius: 0 !important;
  border-top: 3px solid !important;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  display: inline-flex;
}

#saved-container .card button {
  padding: auto;
  margin: auto;
}

#saved-container .card img {
  margin: auto;
  max-height: 30%;
}

#saved-container .display-item {
  text-align: center;
  width: 100%;
  margin-left: auto;
}

#saved-container h2 {
  text-align: center;
  margin-top: 5px;
}

#saved-container p {
  text-align: center;
}

#saved-container .text-center {
  text-align: left !important;
  padding-top: 20px;
  color: #000;
}