.close-modal-btn {
  background-color: #e2c044;
  padding: 1%;
}

h3 {
  font-size: 1.5em;
}

.modal-wrapper {
  position: fixed; 
  background-color: #fff;   
    left: 0;
    right:0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    z-index: 2;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
    border-color: #000;
    border-radius: 10%;
    border-style: solid;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
}
