* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #d3d0cb;
  font-family: "Comfortaa";
}

#container-about {
  position: relative;
  min-height: 100vh;
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  color: #0f3d5d;
  padding-bottom: 5px;
}

.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #6e8898;
  padding: 10%;
  width: 100%;
  margin: auto;
  position: relative;
  /* margin-left: -145px; */
  padding-right: 100px;
  padding-left: 100px;
  height: 40px;
}

header button {
  height: 40px;
  padding-top: 5px;
  border-radius: 20%;
  margin-top: 10px;
}

header h1 {
  color: #ffa630;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
  position: relative;
  margin-top: -50px;
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

header p {
  margin-left: 0%;
  width: 400px;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.login {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 100px;
}

.menu {
  background-color: #6e8898;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  padding: 2%;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
}
.menu:hover {
  pointer-events: all;
}

.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  color: #fff;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #ff0000;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}

p {
  text-align: justify;
  color: #0f3d5d;
  font-weight: bold;
  font-size: 18px;
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

.wrapper {
  padding-bottom: 3.5rem;
}
