* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #2e5077;
  font-family: "Open Sans", sans-serif;
}
#container-about header {
  color: #fff;
  background-color: #4da1a9;
  padding: auto;
  width: 126%;
  margin: auto;
  position: relative;
  margin-left: -145px;
  padding-right: 100px;
  padding-left: 100px;
  height: 70px;
}
#container-about header button {
  height: 40px;
  padding-top: 5px;
  border-radius: 20%;
  margin-top: 10px;
}

#container-about header p {
  margin-left: 0%;
  width: 400px;
  margin: 0 auto;
}
#container-about header .wrapper {
  display: flex;
  justify-content: space-between;
}

#container-about header h1 {
  color: #ffa630;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
  position: relative;
  margin-top: -50px;
}
#container-about .fa {
  font-size: 22px;
  transform: translateY(50deg);
}
#container-about header i {
  vertical-align: middle;
  margin-left: 12px;
}
#container-about .container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

#container-about h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 60px;
  color: #0f3d5d;
  padding-bottom: 5px;
}

#container-about p {
  text-align: center;
  color: #0f3d5d;
  font-weight: bold;
  font-size: 25px;
}

#container-about .wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
#container-about .user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}
#container-about .user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

.menu {
  background-color: #611c35;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  padding: 2%;
  width: 85%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #ff0000;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}
