body {
  background-image: url(https://render.fineartamerica.com/images/rendered/default/greeting-card/images/artworkimages/medium/1/black-sketches-of-musical-instruments-on-white-background-elaine-plesser.jpg?&targetx=0&targety=-100&imagewidth=700&imageheight=700&modelwidth=700&modelheight=500&backgroundcolor=878787&orientation=0);
  background-size: 100%;
  font-family: "Open Sans", sans-serif;
}

#container-about header {
  color: #fff;
  background-color: #103d5d;
  padding: auto;
  width: 119.5%;
  margin: auto;
  position: relative;
  margin-left: -110px;
  padding-right: 100px;
  padding-left: 100px;
  height: 90px;
}
#container-about header button {
  height: 80px;
  padding-top: 5px;
  border-radius: 20%;
  margin-top: 10px;
}
#container-about header p {
  width: 400px;
  margin: 0 auto;
}
#container-about header .wrapper {
  display: flex;
  justify-content: space-between;
}
#container-about header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  color: #fff;
  padding-bottom: 10px;
  position: relative;
  margin-top: -40px;
}
#container-about .fa {
  font-size: 22px;
  transform: translateY(50deg);
}
#container-about header i {
  vertical-align: middle;
  margin-left: 12px;
}
#container-about .container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

#container-about h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 60px;
  color: ;
  padding-bottom: 5px;
}

#container-about p {
  text-align: center;
  color: #0f3d5d;
  font-weight: bold;
  font-size: 25px;
}

#container-about .wrapper {
  margin: 0 auto;
}
#container-about .user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}
#container-about .user-profile img {
  border-radius: 50%;
  max-width: 100%;
}
