@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.about-header {
  align-items: center;
  color: #000;
  display: flex;
  text-align: center;
}

body {
  background-color: #d3d0cb;
  font-family: "Open Sans";
  text-transform: uppercase;
}

#container-about {
  position: relative;
  min-height: 100vh;
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);
}

.connect {
  text-align: center;
  font-size: 2.5em;
  color: #e2c044;
  padding-bottom: 10%;
  margin-top: -10%;
}

.title {
  color: #000;
  text-align: center;
}

h1 {
  margin-left: -10%;
}

.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #000;
  width: 100%;
  margin: auto;
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  height: 10%;
}

header button {
  height: 40px;
  padding-top: 5px;
  border-radius: 20%;
  margin-top: 3%;
}

header h1 {
  align-items: center;
  color: #e2c044;
  display: flex;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.3px;
  vertical-align: middle;
  position: relative;
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

header p {
  margin-left: 0%;
  width: 400px;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.login {
  align-items: center;
  background-color: #e2c044;
  cursor: pointer;
  display: flex;
  font-family: "Open Sans";
  height: 2em;
  margin-top: 93px;
  padding: 1.3em;
  position: absolute;
  top: 1em;
  right: 5em;
}

.login img {
  height: 1em;
  margin-left: 0.5em;
  width: 1em;
}

.menu {
  background-color: #000;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  padding: 2%;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  margin-top: 50px;
}
.menu:hover {
  pointer-events: all;
}

.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  color: #fff;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover {
  color: #e2c044;
  text-decoration: none;
  transform: translateY(-0.25em);
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}

p {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

.wrapper {
  padding-bottom: 3.5rem;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .add-item {
    width: 100px;
  }
  .about-header {
    width: auto;
  }
  .login {
    margin: 35px;
    width: 70px;
    padding: 0;
  }
  .user-profile img {
    margin-left: 0px;
    margin-top: 0px;
  }
  .container {
    width: 100%;
    display: table;
    height: auto;
  }
  .logo {
    width: 150px;
  }
  .header .logo {
    margin-left: 35px;
    margin-top: 10px;
  }
  footer {
    margin-bottom: 0px;
  }
}
@media all and (max-width: 375px) {
  body {
    margin: 0;
  }
  header h1 {
    font-size: 20px;
  }
  h2,
  h1 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }

  .login {
    padding: 0;
    margin-top: 90px;
    margin-right: 0px;
  }
  .user-profile img {
  }
  .logo {
    width: 150px;
  }
  .header .logo {
    margin-left: 35px;
    margin-top: 10px;
  }
  footer {
    margin-bottom: 0px;
    margin: auto;
  }
  #container-about {
    width: 100%;
  }
}
